body {
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
transition: transform .3s;
}


.gallery-grid img:hover {
transform: scale(1.05);
}


.subject-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
gap: 20px;
}


.subject {
padding: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
font-weight: bold;
}


.teacher-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
gap: 20px;
}


.teacher-card {
background: white;
padding: 20px;
border-radius: 15px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.teacher-card img {
width: 100%;
border-radius: 12px;
margin-bottom: 10px;
}


.video-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
}


iframe {
width: 100%;
height: 200px;
border-radius: 12px;
border: none;
}


footer {
padding: 20px;
text-align: center;
background: #0b57d0;
color: white;
margin-top: 40px;
}